{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div id="file-area">
        <label>説明書名
        {% render_field form.title class='form-control' placeholder='解約申し込み' %}</label>
        <hr>
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.item }}
            {{ form.id }} 
            <hr>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">送信</button>
    <button id="add" type="button" class="btn btn-primary">フォームの追加</button>
</form>
{% endblock %}

{% block extrajs %}
<script>
$(function(){
    var totalManageElement = $('input#id_appitem_set-TOTAL_FORMS');
    var currentFileCount = parseInt(totalManageElement.val());
    $('button#add').on('click', function(){
        var nameElement = $('<input>', {
            type: 'text',
            name: 'appitem_set-' + currentFileCount + '-item',
            maxlength: '255',
            id: 'id_appitem_set-' + currentFileCount + '-item',
        });
        $('div#file-area').append(nameElement);
        currentFileCount += 1;
        totalManageElement.attr('value', currentFileCount);
    });
});
</script>
{% endblock %}